/* button basics */
a.minibutton {
  background: -moz-linear-gradient(#FFFFFF, #E1E1E1) repeat scroll 0 0 transparent;
  background: -webkit-gradient(linear, left top, left bottom, from(#FFFFFF), to(#E1E1E1));
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr=#FFFFFF, endColorstr=#E1E1E1);
  -ms-filter: "progid:DXImageTransform.Microsoft.gradient(startColorstr=#FFFFFF, endColorstr=#E1E1E1)";

  border-color: #74BB5A #74BB5A #509338;
  box-shadow: 0 1px 4px rgba(0, 0, 0, 0.2);
  color: #666666;
  cursor: pointer;
  font-family: Helvetica,arial,freesans,clean,sans-serif;
  font-size: 12px;
  font-weight: bold;
  line-height: normal;
  padding: 10px 55px;
  text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.4);
}

a.minibutton:hover, a.minibutton:focus {
  -moz-border-bottom-colors: none;
  -moz-border-image: none;
  -moz-border-left-colors: none;
  -moz-border-right-colors: none;
  -moz-border-top-colors: none;
  background: -moz-linear-gradient(#F5F5F5, #E5E5E5) repeat scroll 0 0 transparent;
  border-color: #DDDDDD #DDDDDD #BBBBBB;
  border-style: solid;
  border-width: 1px;
  color: #666666;
  cursor: pointer;
}

a.minibutton:hover>span, a.minibutton:focus>span {background-position:100% -30px;cursor: pointer;}

a.minibutton.mousedown{background-position:0 -60px; }
a.minibutton.mousedown>span{background-position:100% -60px; }

a.btn-download .icon {background-position:-40px 0;}
a.btn-download:hover .icon, a.btn-download:focus .icon {background-position:-40px -25px;}

.loading {
  background: url(../images/spinner.gif) no-repeat center center;
  height: 400px;
  margin: 0 auto;
  width: 400px;
}

#active_content{
  border-color: #DDDDDD #DDDDDD #BBBBBB;
  text-align: center;
}

#calendar_preview {
  background: -webkit-gradient(linear, left top, left bottom, from(#F5F5F5), to(#E5E5E5));
  background: -moz-linear-gradient(#F5F5F5, #E5E5E5) repeat scroll 0 0 transparent;
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr=#F5F5F5, endColorstr=#E5E5E5);
  -ms-filter: "progid:DXImageTransform.Microsoft.gradient(startColorstr=#F5F5F5, endColorstr=#E5E5E5)";
  clear: both;
  margin-bottom: 10px;
}

#calender_navigation{
  height: 20px;
}

#calendar_preview img  {
  margin: 0 auto;
  padding: 0 5px 10px 5px;
  width: 40%;
}